
 <h3>The details of user</h3>
 
 <table border="1">
  <tr>
    <th>FirstName  </th>
    <th>LastName </th>
    <th>Email </th>
   </tr>
   <tr>
      <td><%= @user.FirstName %></td>
      <td><%= @user.LastName %></td>
      <td><%= @user.Email %></td>
      </tr>
</table> 

<%= link_to 'add new user', user_create_path %>